/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/CollectGenomes-*

*.log
/species_EnsemblBacteria.txt
/species_EnsemblFungi.txt
/species_EnsemblMetazoa.txt
/species_EnsemblPlants.txt
/species_EnsemblProtists.txt
#/statistics_ensembl_all.txt

ensembl*
ens*



